Repository frosty-dev/space-station-14, pull requests merged in 2022-12, with the labels that each got.

#27 Upstream merge
  Content.Client/Corvax/JoinQueue/JoinQueueManager.cs
  Content.Client/Corvax/JoinQueue/QueueGui.xaml
  Content.Client/Corvax/JoinQueue/QueueGui.xaml.cs
  Content.Client/Corvax/JoinQueue/QueueState.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Corvax/JoinPlayTime/JoinPlayTimeManager.cs
  Content.Server/Corvax/JoinQueue/JoinQueueManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.StatusShell.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Corvax/JoinQueue/MsgQueueUpdate.cs
  Resources/Changelog/ChangelogSyndie.yml
  Resources/Locale/ru-RU/corvax/join-playtime/join-playtime-reason.ftl
  Resources/Locale/ru-RU/corvax/join-queue/queue-screen.ftl
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/leaves.yml
  Resources/Textures/Objects/Specific/Hydroponics/aloe.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/aloe.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/apple.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/apple.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/cannabis.rsi/dried.png
  Resources/Textures/Objects/Specific/Hydroponics/cannabis.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/cannabis.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/carrot.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/carrot.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/chanterelle.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/chanterelle.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/chili.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/chili.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/corn.rsi/cob.png
  Resources/Textures/Objects/Specific/Hydroponics/corn.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/corn.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/corn.rsi/produce_big.png
  Resources/Textures/Objects/Specific/Hydroponics/eggplant.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/eggplant.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/eggy.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/eggy.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/gatfruit.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/gatfruit.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/lemon.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/lemon.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/onion_red.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/onion_red.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/potato.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/potato.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/stobacco.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/stobacco.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/sugarcane.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/sugarcane.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/tobacco.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/tobacco.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/tomato.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/tomato.rsi/produce.png
Labels: Changes: UI, Changes: Localization, Changes: Sprites

#29 таймеры можно собирать!
  Resources/Prototypes/Entities/Structures/Wallmounts/timer.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/screentimer.yml
  Resources/Prototypes/Recipes/Construction/machines.yml
  Resources/Textures/Structures/Wallmounts/textscreen.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/textscreen.rsi/textscreenb1.png
  Resources/Textures/Structures/Wallmounts/textscreen.rsi/textscreenb2.png
Labels: Status: Needs Review, No C#, Changes: Sprites

#26 PR Kotovskiy
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Maps/bagel.yml
  Resources/Maps/box.yml
  Resources/Maps/cluster.yml
  Resources/Maps/kettle.yml
  Resources/Maps/marathon.yml
  Resources/Maps/omega.yml
  Resources/Maps/pillar.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Textures/Clothing/Head/Hardsuits/prisoner.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/prisoner.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/prisoner.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/prisoner.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/prisoner.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/prisoner.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/prisoner.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/prisoner.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/prisoner.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/prisoner.rsi/meta.json
Labels: Changes: Localization, Status: Needs Review, No C#, Changes: Map, Changes: Sprites

#30 ксены сдохли, магнум апнули
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
Labels: Status: Needs Review, No C#

#34 Slang sanitization
  Content.Server/Chat/Commands/SlangSanitizationCommand.cs
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Content.Server/Chat/Managers/IChatSanitizationManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/ru-RU/chat/sanitizer-replacements.ftl
  Resources/White/ChatFilters/slang.json
Labels: Changes: Localization
