Repository frosty-dev/space-station-14, pull requests merged in 2022-11, with the labels that each got.

#4 cl shittery
  Content.Client/Changelog/ChangelogManager.cs
  Resources/Changelog/ChangelogWhite.yml
Labels: Status: Needs Review

#2 Moved to ss13 UI
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, Changes: Localization

#6 Rules upfix
  Resources/Server Info/Rules.txt
Labels: No C#

#7 Авторестарт
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/server-updates/server-updates.ftl
  Resources/Locale/ru-RU/server-updates/server-updates.ftl
Labels: Changes: Localization, Status: Needs Review

#10 Напереводили переводилы
  Resources/Prototypes/Datasets/Names/clown.yml
  Resources/Prototypes/Datasets/Names/death_commando.yml
  Resources/Prototypes/Datasets/Names/first.yml
  Resources/Prototypes/Datasets/Names/first_female.yml
  Resources/Prototypes/Datasets/Names/first_male.yml
  Resources/Prototypes/Datasets/Names/last_female.yml
  Resources/Prototypes/Datasets/Names/last_male.yml
Labels: No C#

#11 Завез приколов
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Shared/Alert/AlertType.cs
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Textures/Interface/Alerts/bleeding.png
Labels: Changes: Localization

#13 перевод в поддержку афроамериканцев
  Resources/Locale/en-US/alerts/alerts.ftl
Labels: Changes: Localization, No C#

#17 Upstream merge
  Content.Client/Explosion/ExplosionOverlay.cs
  Content.Client/Explosion/ExplosionOverlaySystem.cs
  Content.Client/Explosion/ExplosionVisualsComponent.cs
  Content.Client/Tabletop/TabletopSystem.cs
  Content.Server/Explosion/Components/ExplosionVisualsComponent.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.TileFill.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Visuals.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Voice.cs
  Content.Server/StationEvents/Events/VentClog.cs
  Content.Server/Tabletop/TabletopSystem.Draggable.cs
  Content.Server/Tabletop/TabletopSystem.cs
  Content.Shared/Administration/SpawnExplosionEuiMsg.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Explosion/ExplosionEvents.cs
  Content.Shared/Explosion/SharedExplosionVisualsComponent.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Tabletop/SharedTabletopSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Changelog/ChangelogSyndie.yml
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/en-US/weapons/grenades/voice-trigger.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/weapons/grenades/voice-trigger.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/XenoArch/artifact_triggers.yml
  Resources/Textures/Structures/Machines/exosuit_fabricator.rsi/fab-active.png
  Resources/Textures/Structures/Machines/exosuit_fabricator.rsi/fab-idle.png
  Resources/Textures/Structures/Machines/exosuit_fabricator.rsi/fab-load.png
  Resources/Textures/Structures/Machines/exosuit_fabricator.rsi/fab-o.png
  Resources/Textures/Structures/Machines/exosuit_fabricator.rsi/meta.json
Labels: Changes: Localization, Changes: Sprites

#20 Locale
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/mantles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_hop.png
Labels: Changes: Localization, Status: Needs Review, No C#, Changes: Sprites

#25 так лучше
  Content.Shared/Weapons/Ranged/Components/SLoaderComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/rifle_light.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/toy.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Server Info/Rules.txt
Labels: Status: Needs Review
